$class-prefix: 'mxk-btn';
$default-bgcolor: #E0E1E2;
$default-hover-bgcolor: #cacbcd;
$default-active-bgcolor: #aaa;
$default-disabled-bgcolor: #a1a5a8;
$primary-bgcolor: #3B91FF;
$primary-hover-bgcolor: #1990ffda;
$primary-active-bgcolor: #0c63b4;
$primary-disabled-bgcolor: #8FC0FF;
$danger-bgcolor: #EB4947;
$danger-hover-bgcolor: #eb4a47e3;
$danger-active-bgcolor: #E52E2C;
$danger-disabled-bgcolor: #eb6e6c;