.fade-appear {
  opacity: 0;
  /* transform: translateY(50px); */
}

.fade-appear.fade-appear-active {
  opacity: 1;
  /* transform: translateY(0); */
  transition: opacity 600ms linear;
}

.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 600ms linear;
}
.fade-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms linear;
}