.md-body {
  h2,h3,h4,h5,h6 {
    margin: 10px 0 10px 3px;
    color: #383838;
    position: relative;
    font-weight: 600;
  }

  h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
  // h2::before {
  //   content: "#";
  //   color:#2c8bbc;
  //   position: absolute;
  //   left: -1rem;
  //   top: 2px;
  //   font-size: 1.2rem;
  //   font-weight: bold;
  // }

  p {
    line-height: 1.8;
  }

  pre {
    margin: 0 -1em;
    code {
      padding: 0.5em 1.5em;
      font-family: "Source Code Variable";
      line-height: 1.5;
    }
  }

  strong {
    padding: .3em;
  }

  ol {
    list-style-type: decimal;
    margin-left: 30px;
    li {
      line-height: 1.9;
    }
  }

  ul {
    list-style-type: disc;
    margin-left: 30px;
    li {
      line-height: 1.9;
    }
  }

  blockquote {
    padding: 15px;
    margin: 13px 10px;
    border-left: 5px solid #eee;
    color: gray
  }
  a {
    color: #1fa3ef;
    &:hover {
      color: #007acc;
    }
  }
}

code {
  background: rgba(0, 0, 0, .05);
  padding: 3px 4px;
  margin: 0 2px;
  color: #d05;
}