.about {
  .item {
    padding-top: 20px;
    h2 {
      margin-bottom: 15px;
    }
    p {
      text-indent: 28px;
      line-height: 1.6;
      padding: 5px 0;
    }
    ul {
      margin-left: 48px;
      list-style-type: disc;
      li {
        padding: 3px 0;
      }
    }
  }
  .link {
    color: #076dd0;
  }
}